.row {
  border: 2px dotted deeppink;
}

.col-md-1,
.col-md-4,
.col-md-6,
.col-md-8 {
  border: 1px solid rebeccapurple;
}

.centered-in-the-middle {
  background-color: azure;
  border: 2px dotted deeppink;
  max-width: 960px;
  margin: 0 auto;
}

.stop-shrinking {
  width: 25%;
  min-width: 200px;
  display: block;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

.box {
  padding: 20px;
}

.impact {
  background-color: black;
  color: white;
}

.synergy {
  background-color: orange;
  color: olivedrab;
}

.humps {
  background-color: blanchedalmond;
}


@media (min-width: 1000px) {
  /* everyting inside these curlies is for 1000px + */

  .centered-in-the-middle {
    background-color: rebeccapurple;
    border-color: mediumturquoise;
    color: white;
  }

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 20px;
  }

  .box {
    width: 50%;
    box-sizing: border-box;
    float: left;
  }

}


@media (min-width: 2000px) {

  h1 {
    font-size: 150px;
  }

  p {
    font-size: 50px;
  }

  .box {
    width: 33.3333%;
  }

}
